<configuration>
    <!--These logstash encoders transform the output into JSON -->
    <appender name="logstashConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <timeZone>UTC</timeZone>
            <fieldNames>
                <timestamp>time</timestamp>
                <message>msg</message>
                <version>[ignore]</version>
                <levelValue>[ignore]</levelValue>
                <thread>[ignore]</thread>
            </fieldNames>
            <customFields>{"app": "image-automation-app"}</customFields>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="logstashConsoleAppender"/>
    </root>
</configuration>